body {
  background-color: #eeede2;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.bck-img {
  background-image: url(public/images/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
}

.card {
  margin-top: 100px;
  margin-bottom: 5504px;
}

.icon {
  position: relative;
  top: -50px;
  background-color: #fff;
  border-radius: 50%;
}

.overlay {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  top: 0;
}
